.summary {
    font-family: 'Arial', sans-serif;
    background: #f9f9f9;
    padding: 20px 50px;
    margin-bottom: 30px;
    border-radius: 12px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

.summary-header {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    padding: 15px 0 0px 0;
    font-size: 18px;
    font-weight: 450;
    h2{
        font-size: 16px;
        font-weight: 500;
    }
}
.select-header{
    margin-left: 723px;
}

.select-body{
    select{
        font-size: 16px;
        padding-left: 15px;
        height: 40px;
        margin-top: 10px;
        border-radius: 08px;
        border: 1px solid #ccc;
        width: 260px;

    }

}
.summary-heading {
    margin: 0;
}

.action-buttons {
    display: flex;
    gap: 25px;
}

.action-icon {
    font-size: 20px;
    cursor: pointer;
}

.summary-content {
    margin-top: 20px;
}

.date-picker-section {
    position: relative;
    font-family: Arial, sans-serif;
}

.date-label {
    display: block;
    margin-bottom: 8px;
}

.date-display-box {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px 14px;
    cursor: pointer;
    width: 250px;
    justify-content: space-between;
    background-color: #fff;
}

.date-display-box span {
    font-size: 18px;
    font-weight: 450;
}

.calendar-icon {
    font-size: 20px;
    color: #555;
}

.calendar {
    position: absolute;
    top: 70px;
    z-index: 10;
}

.activity-table {
    width: 100%;
    border-collapse: collapse;
    margin: 30px 0;
}

.activity-table th,
.activity-table td {
    border: 1px solid #ddd;
    text-align: left;
    border-left: none;
    border-right: none;
}
.date-range{
    display: flex;
}
.activity-table th {
    background-color: #e6e3e3;
    border: none;
    padding: 20px 0px;
    font-size: 18px;
    font-weight: 500;
}

.activity-table td:first-child,
.activity-table th:first-child {
    padding-left: 25px;
}

.desc-col {
    padding-right: 120px;
}

.activity-table td {
    padding: 15px 0px;
}

.activity-table tr:first-child td {
    border-top: none;
}

.row-count {
    text-align: right;
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
    margin-top: 10px;
}

.birthday-banner {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 10px;
    padding: 20px 40px 30px 50px;
}

.birthday-icon {
    height: 90px;
    padding-right: 35px;
    padding-top: 20px;
}

.birthday-text {
    padding-right: 286px;
}

.birthday-text p {
    font-size: 18px;
    font-weight: 450;
}

.cta-button {
    background-color: #2a4d91;
    color: white;
    border: none;
    padding: 12px 60px;
    font-size: 14px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    align-self: center;
    width: 220px;
}
